- name: Install and start nginx
  hosts: all
  become: yes

  tasks:
    - name: Install nginx using dnf
      dnf:
        name: nginx
        state: present
        update_cache: yes

    - name: Start and enable nginx
      service:
        name: nginx
        state: started
        enabled: yes
